<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Items</title>
    <meta name="description" content="Beena Mart">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.min.css">
    <style>
        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(73, 70, 214, 0.39);
        }
    </style>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios@latest"></script>

</head>

<body>
    <div class="container products">

        <h1 class="text-center text-dark font-italic m-3" style="text-decoration: underline;">
            Welcome to Beena Mart
        </h1>
        <h5 class="alert alert-success my-2" v-if='message' style="position: sticky; top: 16px; z-index: 1;">{{message}}
        </h5>
        <h5 class="alert alert-danger my-2" v-if='errors' style="position: sticky; top: 16px; z-index: 1;">{{errors}}
        </h5>
        <section class="row">
            <div class="col-12 col-md-4 p-2 d-flex align-items-stretch" v-for="element in items" :key="element.id">
                <div class="card border border-info card-body">
                    <form :id="element.id" action="/api/orders" method="post" @submit.prevent="draftOrder(element.id)">
                        <input type="hidden" name="itemId" v-model="element.id">
                    </form>
                    <h5 class=" card-header  text-center">{{element.name}}</h5>
                    <div class=" d-flex justify-content-around align-items-center mt-2">
                        <p class="h6 m-0">{{element.price}} $</p>
                        <button type="submit" data-bs-toggle="modal" href="#exampleModalToggle" :form="element.id"
                            class=" btn btn-primary alert-primary rounded w-75 ">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle" tabindex="-1" data-bs-keyboard="false"
                data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Your Order</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="confirmOrder" class="d-flex flex-column">
                                <input class="form-control" type="text" name="email" v-model="email"
                                    placeholder="Enter Your Email To Continue">
                                <button type="submit" class=" btn btn-primary rounded w-75 " style="margin:1rem auto;">
                                    Buy
                                    Now</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>

    <script>
        const showItems = Vue.createApp({
            data() {
                return {
                    items: [
                        {
                            id: ' ',
                            name: ' ',
                            price: ' ',
                        }
                    ],
                    toUpdate: '',
                    errors: '',
                    message: '',
                    email: '',
                }
            },
            methods: {

                draftOrder: function (e) {
                    // let id = document.querySelector('input')
                    axios.post('/api/orders', { "itemId": e })
                        .then(response => {
                            console.log(response.data);
                            this.toUpdate = response.data.data.id;
                            console.log(this.toUpdate);
                            //    this.message = response.data.message;
                        }).catch(error => {
                            console.log(error.response.data.data);
                            this.errors = error.response.data.email;

                        });

                },
                //update EMAIl
                confirmOrder: function () {
                    axios.patch(`/api/orders/${this.toUpdate}`, { "email": this.email, "status": "confirmed", })
                        .then(response => {
                            console.log(response.data);
                            status = response.data.status_code;
                            if (status == 404) {
                                this.errors = response.data.errors.email[0];
                            } else {

                                this.message = response.data.message;
                                window.location.reload();

                            }
                        }).catch(error => {
                            console.log(error.data);
                            this.errors = error.response.data;
                        })

                },
            },// close methods:
            mounted() {
                axios.get('/api/items')
                    .then(response => {
                        this.items = response.data.data.items
                        console.log("Object: ", this.items);
                    }).catch(error => {
                        console.log(error);
                        this.errors = error.response.data;
                    })
            },
        });//close vue Object

        showItems.mount('.products')
    </script>
    <!-- <script>
        window.addEventListener('load', function () {
            console.log(document.body);
            fetch('/api/items').then((res) => res.json()).then((res) => {
                console.log("hre'es the res ", res);
                res.data.items.forEach(element => {

                    document.querySelector(".products").innerHTML += `
        <div class="col-12 col-md-4 p-2 d-flex align-items-stretch">
            <div class="card border border-info card-body">
                <h5 class=" card-header  text-center">${element.name}</h5>
                <div class=" d-flex justify-content-around align-items-center mt-2">
                    <p class="h6 m-0">${element.price} $</p> <button class=" btn  btn-primary alert-primary rounded w-75 ">Add to cart</button>
                </div>
            </div>

        </div>
    `;
                });
            });
        });
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

</html>
